---
layout: default
title: Members
permalink: /members/
---


<h1 class="center to-underline">Members</h1>

<div id="members">
    <div class="section">
        <h3>Current</h3>
        <div class="row">
            {% for member in site.data.current_members %}
            <div class="col s10 m6 l4 offset-s1">
                <div class="card small">
                    <div class="card-image">
                        <img src="{{ '/assets/img/members/' | relative_url }}{{ member.image }}">
                    </div>
                    <div class="card-content">
                        <p class="name">{{ member.name }}</p>
                        <p>{{ member.status }}</p>
                        <p>{{ member.years }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <h3>Past</h3>
        <div class="row">
            {% for member in site.data.past_members %}
            <div class="col s10 m6 l4 offset-s1">
                <div class="card small">
                    <div class="card-image">
                        <img src="{{ '/assets/img/members/' | relative_url }}{{ member.image }}">
                    </div>
                    <div class="card-content">
                        <p class="name">{{ member.name }}</p>
                        <p>{{ member.status }}</p>
                        <p>{{ member.years }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
