body {
    font-weight: 300;
    font-size: 1.1rem;
}

p {
    line-height: 1.7;
}

.navbar-fixed {
    height: 50px;
}

nav {
    height: 50px;
    line-height: 50px;
}

.navbar {
    padding: 0 2%;
}

#nav-mobile > li > a {
    font-size: 1.3rem;
    height: 50px;
}

#page-title {
    font-size: 2rem;
}

#dropdown {
    width: 10rem !important;
}

main {
    margin: 60px 0;
    min-height: calc(100vh - 209px);
}

.to-underline {
    padding-bottom: 3px;
}

.to-underline:after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 0;
    background-color: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.underline:after {
    width: 22rem !important;
    max-width: 90%;
    background-color: black !important;
}

.justified {
    text-align: justify;
}

.news-div {
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
}

.news-div .card-panel:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.news-div .chip {
    height: 26px;
    line-height: 26px;
}

.pagination {
    margin-top: 40px;
    font-size: 1.4rem;
}

.parallax-container {
    max-height: 50vh;
    margin-bottom: 40px;
}

#calendar {
    width: 100%;
    max-height: 120vw;
}

#members .card {
    visibility: hidden;
}

#members .card p {
    line-height: 1.5;
}

#members .card .name {
    font-size: 1.3rem;
    font-weight: 500;
}

#members .divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #members h3 {
        margin-left: 3vw;
    }
    #members .col {
        padding: 2vw 4vw;
    }
}

@media only screen and (max-width: 601px) {
    #members h3 {
        margin-left: 8vw;
    }
}

form .input-field {
    margin: 20px 0;
}

form button {
    margin-bottom: 50px;
}

.author {
    font-size: 1rem;
}

.post-content {
    font-family: "Lora", serif;
    font-size: 1.1rem;
}

.prev-next-divider {
    margin-top: 70px;
}

.prev-next-div .btn-floating {
    margin: 0 10%;
}

.prev-next-div .btn-floating i {
    font-size: 2.5rem;
}

.footer-copyright {
    padding-bottom: 5px;
    line-height: 2;
}

.footer-copyright i.material-icons {
    position: relative;
    top: 6px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(.7, .7, .7);
        transform: scale3d(.7, .7, .7);
        }
    50% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    to {
        -webkit-transform: scale3d(.7, .7, .7);
        transform: scale3d(.7, .7, .7);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(.7, .7, .7);
        transform: scale3d(.7, .7, .7);
    }
    50% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    to {
        -webkit-transform: scale3d(.7, .7, .7);
        transform: scale3d(.7, .7, .7);
    }
}

@media only screen and (max-width: 600px) {
    .parallax-container {
        max-height: 60vw;
    }
    .post-content {
        font-size: 1.2rem;
    }
}
