<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

        {% include navbar.html %}

        {% if page.use_hero %}
        {% include hero.html %}
        {% endif %}

        <main>
            <div class="container">
                {{ content }}
            </div>
        </main>

        <footer class="footer-copyright blue darken-4 white-text center-align">
            Made with &nbsp;<i class="material-icons red-text text-lighten-2 tooltipped animated infinite pulse" data-position="top" data-delay="0" data-tooltip="Thanks for visiting!">favorite</i>&nbsp; by Charles Zhao
        </footer>

    </body>

</html>
