---
layout: default
---

<h2 class="center">{{ page.title }}</h2>
<div class="grey-text center author">Posted on {{ page.date | date: "%B %-d, %Y" }} by {{ page.author }}</div>
<br>
<div class="post-content">
    {{ content }}
</div>

<div class="divider prev-next-divider"></div>
<div class="section center prev-next-div">
    <a class="blue accent-4 waves-effect waves-light btn-floating btn-large{% unless page.previous.url %} disabled{% endunless %}" href="{{ page.previous.url }}"><i class="material-icons">keyboard_arrow_left</i></a>
    <a class="blue accent-4 waves-effect waves-light btn-floating btn-large{% unless page.next.url %} disabled{% endunless %}" href="{{ page.next.url }}"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
